# MyNotes Universal Platform - Environment Variables for Render / Production
CLOUDINARY_CLOUD_NAME=o75xc285
CLOUDINARY_API_KEY=785966873647383
CLOUDINARY_API_SECRET=vaPvQvMpjW7tO1C0tuRQzq3_8mI
CLOUDINARY_URL=cloudinary://785966873647383:vaPvQvMpjW7tO1C0tuRQzq3_8mI@o75xc285

JWT_SECRET=mynotes-secret-key-student-sharing
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@MyNotes2026
ADMIN_EMAIL=admin@mynotes.edu
PORT=3000
